# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
models/checkpoint/*
models/embedding/*
models/lora/*
models/vae/*
output/*
public/upload/*
sd
config.yaml
!models/checkpoint/placeholder
!models/embedding/placeholder
!models/lora/placeholder
!models/vae/placeholder
!output/placeholder
!public/upload/placeholder
